body
{
   background-color: #DCDCDC;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Polygon1
{
   border-width: 0;
   height: 145px;
   width: 208px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#jQueryButton1
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton1 .ui-button
{
   position: absolute;
}
#jQueryButton1 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton1 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton1 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton1 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton1 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#jQueryButton1.ui-corner-all
{
   -webkit-border-bottom-left-radius: 20px;
   -moz-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
   -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
   border-top-left-radius: 20px;
}
#jQueryButton1.ui-corner-all
{
   -webkit-border-bottom-right-radius: 20px;
   -moz-border-bottom-right-radius: 20px;
   border-bottom-right-radius: 20px;
   -webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
   border-top-right-radius: 20px;
}
.ui-slider-horizontal
{
   height: 14px;
   width: 177px;
}
.ui-slider-horizontal .ui-slider-handle
{
   top: -3px;
   margin-left: -10px;
}
.ui-slider .ui-slider-handle
{
   height: 18px;
   width: 18px;
}
#jQuerySlider1, #jQuerySlider1 .ui-corner-all
{
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}
#Editbox1
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Polygon2
{
   border-width: 0;
   height: 145px;
   width: 208px;
}
#jQueryButton2
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton2 .ui-button
{
   position: absolute;
}
#jQueryButton2 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton2 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton2 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton2 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton2 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#jQueryButton2.ui-corner-all
{
   -webkit-border-bottom-left-radius: 20px;
   -moz-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
   -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
   border-top-left-radius: 20px;
}
#jQueryButton2.ui-corner-all
{
   -webkit-border-bottom-right-radius: 20px;
   -moz-border-bottom-right-radius: 20px;
   border-bottom-right-radius: 20px;
   -webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
   border-top-right-radius: 20px;
}
.ui-slider-horizontal
{
   height: 14px;
   width: 177px;
}
.ui-slider-horizontal .ui-slider-handle
{
   top: -3px;
   margin-left: -10px;
}
.ui-slider .ui-slider-handle
{
   height: 18px;
   width: 18px;
}
#jQuerySlider2, #jQuerySlider2 .ui-corner-all
{
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}
#Editbox2
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Polygon3
{
   border-width: 0;
   height: 145px;
   width: 208px;
}
#jQueryButton3
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton3 .ui-button
{
   position: absolute;
}
#jQueryButton3 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton3 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton3 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton3 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton3 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#jQueryButton3.ui-corner-all
{
   -webkit-border-bottom-left-radius: 20px;
   -moz-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
   -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
   border-top-left-radius: 20px;
}
#jQueryButton3.ui-corner-all
{
   -webkit-border-bottom-right-radius: 20px;
   -moz-border-bottom-right-radius: 20px;
   border-bottom-right-radius: 20px;
   -webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
   border-top-right-radius: 20px;
}
.ui-slider-horizontal
{
   height: 14px;
   width: 177px;
}
.ui-slider-horizontal .ui-slider-handle
{
   top: -3px;
   margin-left: -10px;
}
.ui-slider .ui-slider-handle
{
   height: 18px;
   width: 18px;
}
#jQuerySlider3, #jQuerySlider3 .ui-corner-all
{
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}
#Editbox3
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox3:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Polygon4
{
   border-width: 0;
   height: 145px;
   width: 208px;
}
#jQueryButton4
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton4 .ui-button
{
   position: absolute;
}
#jQueryButton4 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton4 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton4 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton4 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton4 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#jQueryButton4.ui-corner-all
{
   -webkit-border-bottom-left-radius: 20px;
   -moz-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
   -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
   border-top-left-radius: 20px;
}
#jQueryButton4.ui-corner-all
{
   -webkit-border-bottom-right-radius: 20px;
   -moz-border-bottom-right-radius: 20px;
   border-bottom-right-radius: 20px;
   -webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
   border-top-right-radius: 20px;
}
.ui-slider-horizontal
{
   height: 14px;
   width: 177px;
}
.ui-slider-horizontal .ui-slider-handle
{
   top: -3px;
   margin-left: -10px;
}
.ui-slider .ui-slider-handle
{
   height: 18px;
   width: 18px;
}
#jQuerySlider4, #jQuerySlider4 .ui-corner-all
{
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}
#Editbox4
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox4:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Polygon5
{
   border-width: 0;
   height: 145px;
   width: 208px;
}
#jQueryButton5
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton5 .ui-button
{
   position: absolute;
}
#jQueryButton5 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton5 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton5 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton5 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton5 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#jQueryButton5.ui-corner-all
{
   -webkit-border-bottom-left-radius: 20px;
   -moz-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
   -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
   border-top-left-radius: 20px;
}
#jQueryButton5.ui-corner-all
{
   -webkit-border-bottom-right-radius: 20px;
   -moz-border-bottom-right-radius: 20px;
   border-bottom-right-radius: 20px;
   -webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
   border-top-right-radius: 20px;
}
.ui-slider-horizontal
{
   height: 14px;
   width: 177px;
}
.ui-slider-horizontal .ui-slider-handle
{
   top: -3px;
   margin-left: -10px;
}
.ui-slider .ui-slider-handle
{
   height: 18px;
   width: 18px;
}
#jQuerySlider5, #jQuerySlider5 .ui-corner-all
{
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}
#Editbox5
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox5:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Polygon6
{
   border-width: 0;
   height: 145px;
   width: 208px;
}
#jQueryButton6
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton6 .ui-button
{
   position: absolute;
}
#jQueryButton6 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton6 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton6 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton6 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton6 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#jQueryButton6.ui-corner-all
{
   -webkit-border-bottom-left-radius: 20px;
   -moz-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
   -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
   border-top-left-radius: 20px;
}
#jQueryButton6.ui-corner-all
{
   -webkit-border-bottom-right-radius: 20px;
   -moz-border-bottom-right-radius: 20px;
   border-bottom-right-radius: 20px;
   -webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
   border-top-right-radius: 20px;
}
.ui-slider-horizontal
{
   height: 14px;
   width: 177px;
}
.ui-slider-horizontal .ui-slider-handle
{
   top: -3px;
   margin-left: -10px;
}
.ui-slider .ui-slider-handle
{
   height: 18px;
   width: 18px;
}
#jQuerySlider6, #jQuerySlider6 .ui-corner-all
{
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}
#Editbox6
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox6:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Polygon7
{
   border-width: 0;
   height: 145px;
   width: 208px;
}
#jQueryButton7
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton7 .ui-button
{
   position: absolute;
}
#jQueryButton7 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton7 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton7 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton7 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton7 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#jQueryButton7.ui-corner-all
{
   -webkit-border-bottom-left-radius: 20px;
   -moz-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
   -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
   border-top-left-radius: 20px;
}
#jQueryButton7.ui-corner-all
{
   -webkit-border-bottom-right-radius: 20px;
   -moz-border-bottom-right-radius: 20px;
   border-bottom-right-radius: 20px;
   -webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
   border-top-right-radius: 20px;
}
.ui-slider-horizontal
{
   height: 14px;
   width: 177px;
}
.ui-slider-horizontal .ui-slider-handle
{
   top: -3px;
   margin-left: -10px;
}
.ui-slider .ui-slider-handle
{
   height: 18px;
   width: 18px;
}
#jQuerySlider7, #jQuerySlider7 .ui-corner-all
{
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}
#Editbox7
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox7:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Polygon8
{
   border-width: 0;
   height: 145px;
   width: 208px;
}
#jQueryButton8
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton8 .ui-button
{
   position: absolute;
}
#jQueryButton8 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton8 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton8 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton8 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton8 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#jQueryButton8.ui-corner-all
{
   -webkit-border-bottom-left-radius: 20px;
   -moz-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
   -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
   border-top-left-radius: 20px;
}
#jQueryButton8.ui-corner-all
{
   -webkit-border-bottom-right-radius: 20px;
   -moz-border-bottom-right-radius: 20px;
   border-bottom-right-radius: 20px;
   -webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
   border-top-right-radius: 20px;
}
.ui-slider-horizontal
{
   height: 14px;
   width: 177px;
}
.ui-slider-horizontal .ui-slider-handle
{
   top: -3px;
   margin-left: -10px;
}
.ui-slider .ui-slider-handle
{
   height: 18px;
   width: 18px;
}
#jQuerySlider8, #jQuerySlider8 .ui-corner-all
{
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}
#Editbox8
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox8:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Line1
{
   border-width: 0;
   height: 644px;
   width: 10px;
}
#TextArea1
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea1:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
.ui-slider-horizontal
{
   height: 14px;
   width: 239px;
}
.ui-slider-horizontal .ui-slider-handle
{
   top: -3px;
   margin-left: -10px;
}
.ui-slider .ui-slider-handle
{
   height: 18px;
   width: 18px;
}
#jQuerySlider9, #jQuerySlider9 .ui-corner-all
{
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}
#Editbox9
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox9:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label1
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
.ui-slider-horizontal
{
   height: 14px;
   width: 239px;
}
.ui-slider-horizontal .ui-slider-handle
{
   top: -3px;
   margin-left: -10px;
}
.ui-slider .ui-slider-handle
{
   height: 18px;
   width: 18px;
}
#jQuerySlider10, #jQuerySlider10 .ui-corner-all
{
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}
#Editbox10
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox10:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label2
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
.ui-slider-horizontal
{
   height: 14px;
   width: 239px;
}
.ui-slider-horizontal .ui-slider-handle
{
   top: -3px;
   margin-left: -10px;
}
.ui-slider .ui-slider-handle
{
   height: 18px;
   width: 18px;
}
#jQuerySlider11, #jQuerySlider11 .ui-corner-all
{
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}
#Editbox11
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox11:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label3
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#jQueryButton9
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton9 .ui-button
{
   position: absolute;
}
#jQueryButton9 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton9 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton9 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton9 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton9 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#jQueryButton9.ui-corner-all
{
   -webkit-border-bottom-left-radius: 20px;
   -moz-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
   -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
   border-top-left-radius: 20px;
}
#jQueryButton9.ui-corner-all
{
   -webkit-border-bottom-right-radius: 20px;
   -moz-border-bottom-right-radius: 20px;
   border-bottom-right-radius: 20px;
   -webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
   border-top-right-radius: 20px;
}
#Line2
{
   border-width: 0;
   height: 8px;
   width: 278px;
}
#jQueryButton10
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton10 .ui-button
{
   position: absolute;
}
#jQueryButton10 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton10 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton10 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton10 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton10 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#jQueryButton10.ui-corner-all
{
   -webkit-border-bottom-left-radius: 20px;
   -moz-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
   -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
   border-top-left-radius: 20px;
}
#jQueryButton10.ui-corner-all
{
   -webkit-border-bottom-right-radius: 20px;
   -moz-border-bottom-right-radius: 20px;
   border-bottom-right-radius: 20px;
   -webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
   border-top-right-radius: 20px;
}
#jQueryButton11
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton11 .ui-button
{
   position: absolute;
}
#jQueryButton11 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton11 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton11 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton11 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton11 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#jQueryButton11.ui-corner-all
{
   -webkit-border-bottom-left-radius: 20px;
   -moz-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
   -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
   border-top-left-radius: 20px;
}
#jQueryButton11.ui-corner-all
{
   -webkit-border-bottom-right-radius: 20px;
   -moz-border-bottom-right-radius: 20px;
   border-bottom-right-radius: 20px;
   -webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
   border-top-right-radius: 20px;
}
#jQueryButton12
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton12 .ui-button
{
   position: absolute;
}
#jQueryButton12 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton12 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton12 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton12 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton12 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#jQueryButton12.ui-corner-all
{
   -webkit-border-bottom-left-radius: 20px;
   -moz-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
   -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
   border-top-left-radius: 20px;
}
#jQueryButton12.ui-corner-all
{
   -webkit-border-bottom-right-radius: 20px;
   -moz-border-bottom-right-radius: 20px;
   border-bottom-right-radius: 20px;
   -webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
   border-top-right-radius: 20px;
}
#jQueryButton13
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton13 .ui-button
{
   position: absolute;
}
#jQueryButton13 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton13 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton13 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton13 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton13 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#jQueryButton13.ui-corner-all
{
   -webkit-border-bottom-left-radius: 20px;
   -moz-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
   -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
   border-top-left-radius: 20px;
}
#jQueryButton13.ui-corner-all
{
   -webkit-border-bottom-right-radius: 20px;
   -moz-border-bottom-right-radius: 20px;
   border-bottom-right-radius: 20px;
   -webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
   border-top-right-radius: 20px;
}
#jQueryButton14
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton14 .ui-button
{
   position: absolute;
}
#jQueryButton14 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton14 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton14 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton14 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton14 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#jQueryButton14.ui-corner-all
{
   -webkit-border-bottom-left-radius: 20px;
   -moz-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
   -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
   border-top-left-radius: 20px;
}
#jQueryButton14.ui-corner-all
{
   -webkit-border-bottom-right-radius: 20px;
   -moz-border-bottom-right-radius: 20px;
   border-bottom-right-radius: 20px;
   -webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
   border-top-right-radius: 20px;
}
#jQueryButton15
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton15 .ui-button
{
   position: absolute;
}
#jQueryButton15 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton15 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton15 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton15 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton15 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#jQueryButton15.ui-corner-all
{
   -webkit-border-bottom-left-radius: 20px;
   -moz-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
   -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
   border-top-left-radius: 20px;
}
#jQueryButton15.ui-corner-all
{
   -webkit-border-bottom-right-radius: 20px;
   -moz-border-bottom-right-radius: 20px;
   border-bottom-right-radius: 20px;
   -webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
   border-top-right-radius: 20px;
}
